.is-invalid, .was-validated  {
    
    border-color:red;
    padding-right: 0px;
    background-image: none;
    
}
.container{
margin-top: 5%;
    text-align: center;
   
    

}
.message{
    height: 100px;
    width: 300px;
    border-radius: 7px;
    box-shadow: 5px 5px lightblue;
    
}
.outer{
    border: 1px solid black;
    border-radius: 7px;
    width: 50%;
    padding-bottom: 10%;
    margin-left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center{
    text-align: center;
}