<div class="outer">
  <h3 class="center">Fill Below details to Send a Message</h3>
  <form [formGroup]="mail">
    <div class="container">
      <div class="names">

        <input type="text" id="name" placeholder="Your name" class="name" formControlName="name" [ngClass]="{
            'is-invalid': mail.controls.name.touched && mail.controls.name.invalid
          }" />
      </div>
      <br />
      <div class="names">

        <input type="email" id="email" placeholder="Receiver's email" class="email" formControlName="email" [ngClass]="{
            'is-invalid': mail.controls.email.touched && mail.controls.email.invalid
          }" />
      </div>
      <br />
      <div class="names">

        <input type="text" id="subject" placeholder="subject" class="subject" formControlName="subject" [ngClass]="{
            'is-invalid':
              mail.controls.subject.touched && mail.controls.subject.invalid
          }" />
      </div>
      <br />
      <label for="message"><strong>Message:</strong></label> <br>
      <div class="area">

        <textarea id="message" placeholder="Your message" class="message" formControlName="message" [ngClass]="{
            'is-invalid':
              mail.controls.message.touched && mail.controls.message.invalid
          }"></textarea>
      </div><br>
      <button id="btn" (click)="sendMail()">Send</button>
    </div>

  </form>
</div>